{% extends 'members/base.html' %}

{%block link_nav%}
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'member_list' %}">Membres</a>
        <a href="{% url 'login' %}">Connexion</a>
{% endblock %}
        
{% block content %}
 <main>
    <h2>Add a member</h2>
        {% if confirmation_message %}
            {{confirmation_message}}
        {% endif %}
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn">Add</button>
        </form>
 </main>
       
{% endblock %}



  