{% extends 'members/accueil.html' %}

{% block link_nav %}
<nav style="background-color:blue">
        <a href="{% url 'accueil' %}">Accueil</a>
        <a href="{% url 'inscrire_membre' %}">S'inscrire</a>
        <a href="{% url 'accueil' %}">A propos</a>
        <a href="{% url 'login' %}">contacte</a>
    </nav>
    {% endblock %}
{% block title %}Inscription CSG{% endblock %}
{% block content %}
<div class="login-container">
    <h2>Connexion Profile CSG</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Matricule</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn-login">Se connecter</button>
    </form>
</div>
{% endblock %}